@using EmployeeManagement2.Models
@inject SignInManager<ApplicationUser> SignInManager;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js" ></script>
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
            asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css" 
            asp-fallback-test-class="sr-only"   
            asp-fallback-test-property="position"
            asp-fallback-test-value="absolute"
            asp-suppress-fallback-integrity="true"
            >

        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js" ></script>
    </environment>
    <link href="~/css/Site.css" rel="stylesheet" asp-append-version="true"/>
    <title>@ViewBag.Title</title>
</head>

<body>
    @*<nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a asp-action="index" asp-controller="home" class="nav-link"> List</a>
                </li>
                <li class="navbar-item">
                    <a asp-action="create" asp-controller="home" class="nav-link">Create</a>
                </li>
            </ul>
        </div>
    </nav>*@
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="index" asp-controller="home">
                    <img src="~/images/employee.png" height="30" width="30" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="navbar-item">
                            <a asp-action="index" asp-controller="home" class="nav-link"> List</a>
                        </li>
                        <li class="navbar-item">
                            <a asp-action="create" asp-controller="home" class="nav-link">Create</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")) || (User.IsInRole("Super Admin")))
                        {
                            <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage
                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a asp-action="ListRoles" asp-controller="Administration" class="dropdown-item" >Manage Roles</a></li>
                            <li><a asp-action="ListUsers" asp-controller="Administration" class="dropdown-item">Manage Users</a></li>
                            <li><a asp-action="ChangePassword" asp-controller="Account" class="dropdown-item">Password</a></li>
                          </ul>
                        </li>
                       
                        }
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @if (SignInManager.IsSignedIn(User))
                        {
                          <li class="navbar-item">
                            <form method="post" asp-action="logout" asp-controller="account">
                                <button type="submit" class = "nav-link btn btn-link py-0" style="width:auto">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>  
                        } 
                        else
                        {
                        <li class="navbar-item">
                            <a asp-action="register" asp-controller="account" class="nav-link">Register</a>
                        </li>  
                         <li class="navbar-item">
                            <a asp-action="login" asp-controller="account" class="nav-link">Login</a>
                        </li>  
                        }
                       
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
        @{ if (IsSectionDefined("Scripts"))
            {
                @RenderSection("Scripts", required: true)

            }
        }
    </div>
</body>
</html>
