<div class="container alert alert-success" m-5>
    <h4 class="text-center text-success">
        If you have account with us, we have sent email with
        instructions to reset your password.
    </h4>
</div>